html, body {
  height: 100%;
  width: 100%;
}

.flipped-image {
  transform: rotate(180deg);
}

#selected-image {
  opacity: 0.5;
}

.merged-group {
  display: block;
  position: relative;
  width: 50%;
  height: 50%;
}

.merged-group > img {
  width: 50%;  
  opacity: 0.2;

  position: absolute;
  top: 0;
  left: 0;
  border: 1px solid white;
}

.unmerged-group > img {
  float: left;
  width: 50%;
}


#something-with-an-id
.something-with-a-class
just-a-normal-tag-name
